body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1ed760;
}

.album-image {
    max-width: 100px;
    border-radius: 5px;
}

.result-container {
    margin-top: 20px;
    text-align: left;
}

a.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #1DB954;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a.btn:hover {
    background-color: #1ed760;
}


nav {
    background-color: #333;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #434343;
}

.card-text {
    font-size: 14px;
    color: #434343;
}
